<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title> {{ titleandbtn.title }} </mat-card-title>
    </mat-card-header>
    <form
      autocomplete="off"
      class="cust-form"
      *ngIf="!isLoggedIn || data"
      (ngSubmit)="onSubmit()"
      name="signupForm"
      class="wrapper"
      [formGroup]="signupForm"
    >
      <mat-card-content>
        <mat-form-field class="full-width">
          <input
            matInput
            type="email"
            placeholder="E-mail"
            formControlName="email"
            name="email"
            id="email"
            autocomplete="email"
            required
          />
          <mat-error
            class="input-error"
            *ngIf="
              this.signupForm.get('email')?.dirty &&
              this.signupForm.get('email')?.invalid
            "
            >The email must be a valid email</mat-error
          >
        </mat-form-field>
        <mat-form-field class="full-width">
          <input
            matInput
            #password
            type="password"
            formControlName="password"
            placeholder="password"
            name="password"
            id="password"
            autocomplete="current-password"
            required
          />
          <mat-error
            class="input-error"
            *ngIf="
              this.signupForm.get('password')?.dirty &&
              this.signupForm.get('password')?.invalid
            "
            >The password must be minimum 5 characters</mat-error
          >
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Choose a role...</mat-label>
          <mat-select formControlName="role" required="">
            <mat-option *ngFor="let roles of Roles" [value]="roles"
              >{{ roles }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>

      <div
        fxLayout="row"
        fxLayout.sm="column"
        fxLayout.xs="column"
        fxLayoutAlign="space-between center"
        class="mar-10"
      >
        <div>
          <button
            mat-stroked-button
            color="accent"
            class="btn-block"
            type="submit"
            id="login-btn"
            [disabled]="signupEnabled()"
          >
            <span *ngIf="isLoading()"> </span>
            <span *ngIf="!isLoading()">
              {{ titleandbtn.btn }}
            </span>
          </button>
        </div>
        <div *ngIf="!data.adminFlag">
          <button
            mat-stroked-button
            type="button"
            routerLink="/auth/login"
            id="signup-btn"
            class="btn-block"
          >
            Go to Login
          </button>
        </div>
        <div *ngIf="data.adminFlag">
          <button
            mat-stroked-button
            type="button"
            routerLink="/auth/login"
            id="signup-btn"
            class="fancy-btn"
            (click)="onNoClick()"
          >
            Cancel
          </button>
        </div>
      </div>
    </form>
  </mat-card>
</div>
