.login-wrapper .btn-block {
  min-width: 180px;
}

@media screen and (min-width: 960px) and (max-width: 1279px) {
  .box {
      max-width: 54%;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1599px) {
  .box {
    max-width: 48%;
}
}
