<div fxLayout="row" fxLayoutAlign="center center" class="login-wrapper">
  <mat-card class="box">
    <mat-card-header class="mar-auto">
      <mat-card-title
        >Hello User!! <br />
        <span class="sml-txt"> Wel-come to protal.</span></mat-card-title
      >

      <button
        mat-stroked-button
        color="accent"
        class="btn-block"
        (click)="clearScoket(); authService.logout()"
      >
        Log out
      </button>
    </mat-card-header>
  </mat-card>
</div>
