<div fxLayout="row" fxLayoutAlign="center center"  class="login-wrapper">
  <mat-card class="box">
    <mat-card-header class="mar-auto">
      <mat-card-title>Hello Buddy!! <br> <span class="sml-txt"> Wel-come to protal, What you love to do? </span></mat-card-title>
    </mat-card-header>

    <div fxLayout="row" fxLayout.sm="column"  fxLayout.xs="column" fxLayoutAlign="space-between center" class="mar-10" >
      <div>
        <button
          mat-stroked-button
          color="accent"
          class="btn-block"
          routerLink="/auth/login"
        >
          Log in
        </button>
      </div>
      <div>
        <button
          mat-stroked-button
          type="button"
          routerLink="/auth/singup"
          id="signup-btn"
          class="btn-block"
        >
        Sign up
        </button>
      </div>
    </div>

  </mat-card>
</div>
