<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>
    <form
      class="cust-form"
      *ngIf="!isLoggedIn"
      (ngSubmit)="onSubmit()"
      name="loginForm"
      class="wrapper"
      [formGroup]="loginForm"
    >
      <mat-card-content>
        <mat-form-field class="full-width">
          <input
            matInput
            type="email"
            placeholder="E-mail"
            formControlName="email"
            name="email"
            id="email"
            autocomplete="email"
            required
          />
          <mat-error
            class="input-error"
            *ngIf="
              this.loginForm.get('email')?.dirty &&
              this.loginForm.get('email')?.invalid
            "
            >The email must be a valid email</mat-error
          >
        </mat-form-field>

        <mat-form-field class="full-width">
          <input
            matInput
            #password
            type="password"
            formControlName="password"
            placeholder="password"
            name="password"
            id="password"
            autocomplete="current-password"
            required
          />
          <mat-error
            class="input-error"
            *ngIf="
              this.loginForm.get('password')?.dirty &&
              this.loginForm.get('password')?.invalid
            "
            >The password must be minimum 5 characters</mat-error
          >
        </mat-form-field>
      </mat-card-content>

      <div fxLayout="row" fxLayout.sm="column"  fxLayout.xs="column" fxLayoutAlign="space-between center" class="mar-10">
        <div>
          <button
            mat-stroked-button
            color="accent"
            type="submit"
            id="login-btn"
            class="btn-block"
            [disabled]="loginEnabled()"
          >
            Log in
          </button>
        </div>
        <div>
          <button
            mat-stroked-button
            type="button"
            routerLink="/auth/singup"
            id="signup-btn"
            class="btn-block"
          >
          Go to Sign up
          </button>
        </div>
      </div>
    </form>
  </mat-card>
</div>
