
<div class="container">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="form mar-t-20 brd-b-1" >
    <div>
      <p>User Data-table</p>
    </div>
    <div>
      <p class="cur-pointer" (click)="authService.logout()">Logout <mat-icon (click)="authService.logout()" aria-label="Example icon-button with a heart icon"
        >logout</mat-icon
      ></p>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="form">
    <div>
      <mat-form-field floatPlaceholder="never" color="accent">
        <input matInput #filter placeholder="Filter users" />
      </mat-form-field>
    </div>
    <div>
      <span>Connected Users:</span>
      <span *ngFor="let person of activeUsers$ | async">
        <span> {{ person }}</span>
      </span>
    </div>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- ID Column -->
    <ng-container matColumnDef="_id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row._id }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.email }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="role">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Role</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.role }}</mat-cell>
    </ng-container>

    <!-- actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="addNew()">
          <mat-icon aria-label="Example icon-button with a heart icon"
            >add</mat-icon
          >
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i = index">
        <button
          mat-icon-button
          color="accent"
          (click)="startEdit(i, row._id, row.email, row.password, row.role)"
        >
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button
          mat-icon-button
          color="accent"
          (click)="deleteItem(i, row._id, row.email, row.role, row.password)"
        >
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <div
    class="no-results"
    [style.display]="dataSource?.renderedData?.length == 0 ? '' : 'none'"
  >
    No results
  </div>

  <mat-paginator
    #paginator
    [length]="dataSource?.filteredData?.length"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
  >
  </mat-paginator>
</div>
