/* Structure */
.container {
  display: flex;
  flex-direction: column;
  margin: 2%;
}

/* Toolbar */
.spacer {
  flex: 1 1 auto;
}

/* Filter */
.form {
  display: flex;
  align-items: center;
  padding: 8px 24px 0;
  font-size: 20px;
  justify-content: space-between;
  border-bottom: 1px solid transparent;
}

.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  margin-top: 8px;
}

.brd-b-1 {
  border-bottom: 1px solid color(srgb 0.73 0.69 0.69 / 0.66);
}

/* Mat table */
.no-results {
  display: flex;
  justify-content: center;
  padding: 14px;
  font-size: 14px;
  font-style: italic;
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1) {
  flex: 0 0 6%;
}

.mat-cell:nth-child(2),
.mat-header-cell:nth-child(2) {
  flex: 0 0 30%;
}

.mat-cell:nth-child(3),
.mat-header-cell:nth-child(3) {
  flex: 0 0 6%;
}

.mat-cell:nth-child(7),
.mat-header-cell:nth-child(7) {
  flex: 0 0 7%;
}

::ng-deep .mat-mdc-dialog-component-host .login-wrapper {
  .box {
    max-width: 100% !important;
  }
}

::ng-deep .mat-mdc-form-field-infix {
  width: 250px !important;
}

.cur-pointer {
  cursor: pointer;
}

mat-toolbar p {
  margin: 0;
}

.mar-t-20 {
  margin-top: 20px;
}
