@media screen and (max-width: 320px) {
  .box {
    max-width: 94%;
  }
}
@media screen and (min-width: 321px) and (max-width: 639px) {
  .box {
    max-width: 80%;
  }

  .login-wrapper .btn-block {
    min-width: 150px;
  }
}
@media screen and (min-width: 640px) and (max-width: 959px) {
  .box {
    max-width: 65%;
  }
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
  .box {
    max-width: 40%;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1599px) {
}
@media screen and (min-width: 1600px) {
}
@media screen and (min-width: 1920px) {
}
